body{
    overflow-x: hidden;
    font-weight: bold;
}

.index-panel-one{
    color: white;
    font-weight: bold;
    width:100%;
    padding:100px;
    height: 700px;
    position:relative;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../imagens/pageintro.jpg");
    background-size: 100% 100%;

}

.index-panel-one .about-us{
    margin-top: 45px;
    font-weight: bold;
}

.index-panel-one .welcome-two{
    margin-top: 25px;
    font-weight: bold;
}

.intro-one{
    background-color: #1b1e21;
    width:100%;
    font-weight: bold;
    padding:100px;
    height: auto;
    min-height: 350px;
}

.intro-one h3{
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #fd7e14;
}

.intro-one p{
    font-weight: bold;
    width: 70%;
    margin: auto;
    text-align: center;
    color: gold;
    margin-bottom: 40px;
}

.intro-one .hr-one{
    width: 35%;
    margin-top:1px;
    margin-bottom:1px;
    border-bottom: 1px solid #ffc728;
}

.intro-one .hr-two{
    width: 40%;
    margin-bottom:1px;
    margin-top:1px;
    border-bottom: 1px solid #ffc728;
}

.hr-h3{
    width: 30%;
    margin-top:0;
    margin-bottom:0;
    border-bottom: 1px solid orangered;
}

#e11{
    padding:50px;
}

.parallax {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../imagens/paralax.jpg");
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-weight: bold;
}

.parallax1{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../imagens/paralax.jpg");
    height: 350px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-weight: bold;
}

.parallax2{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../imagens/paralax.jpg");
    height: 350px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-weight: bold;
}

.parallax3{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../imagens/home/happy-hour.jpg");
    height: 350px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-weight: bold;
}

.parallax4{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../imagens/home/zen.jpg");
    height: 350px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-weight: bold;
}

.intro-two{
    margin: 0;
    position:relative;
    width:100%;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.intro-two .h3{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: bold;
}

.intro-three{
    margin: 0;
    position:relative;
}


.xala{
    margin-top: 80px;
    margin-bottom:80px;
}

.blz{
    position: relative;
}

.panel-text{
    margin: auto;
    text-align: center;
    width: 40%;
}

